# Copyright (c) Meta Platforms, Inc. and affiliates.
#
# License found in the LICENSE file in the root directory
# of this source tree.

## Systemd definition for an example service to startup the proxy container on host reboot

[Unit]
description=docker boot
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/root/whatsapp_proxy/proxy/ops
ExecStart=docker compose up -d
ExecStop=docker compose stop

[Install]
WantedBy=multi-user.target
